$btn-color:#D2F55B;
$color-bg: #ffff;
$border-bg: gray;


.container{
    display: flex;
    justify-content: center;
}
.course-card{
    margin: 25px;
}
.box{
    background: $color-bg;
    margin-top: 7rem;
    width: 80%;
    padding: 5px 0 20px 0;
    border: 2px dashed $border-bg;
    border-radius: 8px;
    &__upload{
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}
.btn{
    background-color: $btn-color;
    &-cross{
        font-weight: 500;
        float: right;
        background-color: rgb(252, 62, 62);
    }
}

.popup-over {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;   
}
.model{
    font-size: 18px;
    padding: 10px 20px;
    &-title{
        span{
            margin-left: 10px;
        }
        padding: 10px;
    }
    &-options{
        padding: 10px;
        display: flex;
        gap: 30px;
    }
    &-actions{
        margin-top: 15px;
        display: flex;
        justify-content: right;
        gap: 25px;
    }
}
