$btn-color:#D2F55B;
$color-bg: #ffff;
$border-bg: gray;
.module-box{
    border: 2px solid $border-bg;
    border-radius: 8px;
    margin-top: 10rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background: $color-bg;
}
.new-section-btn{
    background-color: $btn-color;
}

.module {
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-bottom: 1px solid $border-bg;   
}

.btn{
    border-radius: 25px;
}
.show-lecture{
    margin-left: 15px;
    label{
        margin-bottom: 5px;
    }
}
.pdf-content{
    border: 2px solid $border-bg;
    border-radius: 8px;
    width: 25%;
    text-align: center;
    padding: 5px;
    
}


