$btn-color:#D2F55B;
$color-bg: #ffff;
$border-bg: gray;
$color-block:rgb(239, 234, 229);

.module-box{
    border: 2px solid $border-bg;
    border-radius: 8px;
    margin-top: 5rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background: $color-bg;
}
.new-section-btn{
    background-color: $btn-color;
}

.module {
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.btn{
    border-radius: 25px;
}
.show-lecture{
    margin-left: 15px;
    label{
        margin-bottom: 5px;
    }
    &-content{
        background-color: $color-block;
        border: 2px solid $border-bg;
        border-radius: 8px;
        width: 80%;
        margin: 10px;
        padding: 10px;
    }
}
.pdf-content{
    background-color: $color-block;
    border: 2px solid $border-bg;
    border-radius: 8px;
    width: 25%;
    text-align: center;
    padding: 5px;
    
}


