<div class="container">
    <div class="block">
    <label class="block-lable"> Title : </label>
    <input type="text" placeholder="New Course">
  </div>

  <div class="bolck">
    <label class="block-lable"> Discription: </label>
    <div class="discription-box">
      <div class="discription-tool">
        <button type="button"class="btn btn-light" mat-icon-button(click)="execCmd('undo')">
          <mat-icon class="icon">undo</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button (click)="execCmd('redo')">
          <mat-icon class="icon">redo</mat-icon>
        </button>

        <span class="divider"></span>

        <button mat-button type="button" class="select">
          Normal text
          <mat-icon>expand_more</mat-icon>
        </button>

        <span class="divider"></span>

        <button type="button" class="btn btn-light" mat-icon-button (click)="execCmd('insertUnorderedList')">
          <mat-icon class="icon">format_list_bulleted</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button (click)="text('bold')">
          <mat-icon class="icon">format_bold</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button (click)="text('italic')">
          <mat-icon class="icon">format_italic</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button (click)="text('underline')">
          <mat-icon class="icon">format_underlined</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">code</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">link</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">image</mat-icon>
        </button>

        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">data_object</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">format_quote</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button>
          <mat-icon class="icon">remove</mat-icon>
        </button>
      </div>

      <div #editorArea contenteditable="true" class="text-area"></div>

    </div>
  </div>
  <div class="btn-ok">
    <button class="btn btn-outline-dark" type="button">Cancle</button>

    <button class="btn new-section-btn-ok" type="button">Ok</button>
  </div>

  <div>
    <h4>Select Type</h4>
    <form class="form-selected">
      <mat-form-field class="full-width">
        <input type="text" aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option class="option" [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="divider1"></div>

  <div class="que-container">
    <div class="que-left">
      <ul class="question-list">
        @for (question of questions; track question; let i = $index) {
          <li class="question-item">
            <span class="que-number">{{ i + 1 }}.</span>
            <span class="que-text">Question</span>
          </li>
        }
      </ul>
    </div>
    <div class="divider2"></div>
    <div class="que-right">
        <h4>Questions</h4>
        <div class="input-text">
          <input type="text" placeholder="type your Question" required>
        </div>
       
         <div class="input-discription">
          <input type="text" placeholder="Discription">
        </div>
          @if (selectedType === 'MCQ') {
            <div class="mcq-fields">   
              @for (opt of currentOptions; track $index; let i = $index) {
                <mat-checkbox></mat-checkbox>
                <input type="text" [(ngModel)]="currentOptions[i]" [placeholder]="'Option ' + (i + 1)">
              }
            </div>
             <div class="input-discription">
                <input type="text" placeholder="Discription">
              </div>
          }

          @if (selectedType === 'True/False') {
            <mat-radio-group class="radio-field" [(ngModel)]="correctAnswer" required>
              <mat-radio-button class="radio-field-button" [value]="true">True</mat-radio-button>
              <mat-radio-button class="radio-field-button" [value]="false">False</mat-radio-button>
            </mat-radio-group>
            <div class="input-discription">
              <input type="text" placeholder="Discription">
            </div>
          }

          @if (selectedType === 'Numerical') {
            <label class="block-lable">Numerical Answer</label>
            <input type="number" class="ans-input" [(ngModel)]="correctAnswer" placeholder="Enter numerical answer" required>
          }
          @if (selectedType === 'Short Answer') {
            <label class="block-lable">Short Answer</label>
            <input type="text" class="ans-input" [(ngModel)]="correctAnswer" placeholder="Enter short answer" required>
          }
          @if (selectedType === 'Fill in the blancks') {
            <label class="block-lable">Answer Fill in the blancks</label>
            <input type="text" class="ans-input" [(ngModel)]="correctAnswer" placeholder="Enter blank answer"required>
          }

        <div class="btn-box">
          <div class="checkbox">
            <span>Upload to question set</span>
            <mat-checkbox></mat-checkbox>
          </div>
          <div>
            <button type="button" class="btn btn-box-add" (click)="addQuestion()">ADD</button>
          </div>
          
        </div>
    </div>
  </div>
</div>