<div class="container">
  @if (!isSetting) {
  <div>
     <button type="button" class="btn setting-btn" (click)="onSetting()">Setting</button>
  </div>
  <div class="block">
    <label class="block-lable"> Title : </label>
    <input type="text" placeholder="New Course" name="title" [(ngModel)]="quiz.title" />
  </div>

  <div class="bolck">
    <label class="block-lable"> Discription: </label>
    <div class="discription-box">
      <div class="discription-tool">
        <button type="button" class="btn btn-light" mat-icon-button (click)="execCmd('undo')">
          <mat-icon class="icon">undo</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="execCmd('redo')">
          <mat-icon class="icon">redo</mat-icon>
        </button>
        <span class="divider"></span>
        <button mat-button type="button" class="select">
          Normal text
          <mat-icon>expand_more</mat-icon>
        </button>
        <span class="divider"></span>
        <button
          type="button"
          class="btn btn-light"
          mat-icon-button
          (click)="execCmd('insertUnorderedList')"
        >
          <mat-icon class="icon">format_list_bulleted</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="text('bold')">
          <mat-icon class="icon">format_bold</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="text('italic')">
          <mat-icon class="icon">format_italic</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="text('underline')">
          <mat-icon class="icon">format_underlined</mat-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          mat-icon-button
          (click)="execCmd('formatBlock', 'pre')"
        >
          <mat-icon class="icon">code</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="insertLink()">
          <mat-icon class="icon">link</mat-icon>
        </button>
        <button type="button" class="btn btn-light" mat-icon-button (click)="insertImage()">
          <mat-icon class="icon">image</mat-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          mat-icon-button
          (click)="execCmd('insertText', '&#123;&#125;')"
        >
          <mat-icon class="icon">data_object</mat-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          mat-icon-button
          (click)="execCmd('formatBlock', 'blockquote')"
        >
          <mat-icon class="icon">format_quote</mat-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          mat-icon-button
          (click)="execCmd('insertHorizontalRule')"
        >
          <mat-icon class="icon">remove</mat-icon>
        </button>
      </div>
      <div #editorArea contenteditable="true" class="text-area"></div>
    </div>
  </div>
  <div class="btn-ok">
    <button class="btn btn-outline-dark" type="button">Cancle</button>

    <button class="btn new-section-btn-ok" type="button" (click)="onOk()">Ok</button>
  </div>

  <div>
    <h4>Select Type</h4>
    <form class="form-selected">
      <mat-form-field class="full-width">
        <input
          type="text"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option class="option" [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="divider1"></div>

  <div class="que-container">
    <div class="que-left">
      <ul class="question-list">
        @for (question of questions; track question; let i = $index) {
          <li class="question-item">
            <span class="que-number">{{ i + 1 }}.</span>
            <span class="que-text">Question</span>
          </li>
        }
      </ul>
    </div>
    <div class="divider2"></div>
    <div class="que-right">
      <h4>Questions</h4>
      <div class="input-text">
        <input type="text" placeholder="type your Question" required />
      </div>
      <div class="input-discription">
        <input type="text" placeholder="Discription" />
      </div>
      @if (selectedType === 'MCQ') {
        <div class="mcq-fields">
          @for (opt of currentOptions; track $index; let i = $index) {
            <div class="mcq-fields-option">
              <mat-radio-button></mat-radio-button>
              <input
                type="text"
                name="currentOptions"
                [(ngModel)]="currentOptions[i]"
                [placeholder]="'Option ' + (i + 1)"
              />
            </div>
          }
        </div>
        <div class="input-discription">
          <input type="text" placeholder="Discription" />
        </div>
      }

      @if (selectedType === 'True/False') {
        <mat-radio-group class="radio-field" name="correctAnswer" [(ngModel)]="correctAnswer" required>
          <mat-radio-button class="radio-field-button" [value]="true">True</mat-radio-button>
          <mat-radio-button class="radio-field-button" [value]="false">False</mat-radio-button>
        </mat-radio-group>
        <div class="input-discription">
          <input type="text" placeholder="Discription" />
        </div>
      }

      @if (selectedType === 'Numerical') {
        <label class="block-lable">Numerical Answer</label>
        <input
          type="number"
          class="ans-input"
          name="correctAnswer"
          [(ngModel)]="correctAnswer"
          placeholder="Enter numerical answer"
          required
        />
      }
      @if (selectedType === 'Short Answer') {
        <label class="block-lable">Short Answer</label>
        <input
          type="text"
          class="ans-input"
          name="correctAnswer"
          [(ngModel)]="correctAnswer"
          placeholder="Enter short answer"
          required
        />
      }
      @if (selectedType === 'Fill in the blancks') {
        <label class="block-lable">Answer Fill in the blancks</label>
        <input
          type="text"
          class="ans-input"
          name="correctAnswer"
          [(ngModel)]="correctAnswer"
          placeholder="Enter blank answer"
          required
        />
      }

      <div class="btn-box">
        <div class="checkbox">
          <span>Upload to question set</span>
          <mat-checkbox (change)="onChecked($event)" name="uploadCheckbox"></mat-checkbox>
        </div>
        <div>
          <button type="button" class="btn btn-box-add" (click)="addQuestion()">ADD</button>
        </div>
      </div>
      @if (uploadToQuestionSet) {
        <div class="imports-1">
          <div class="select-import">
            <div><p>Class</p></div>
            <div class="select-import-block">
              <select name="selectedClass" [(ngModel)]="selectedClass" (change)="onClassChange()">
                <option value="" selected disabled>select class</option>
                @for (item of allData; track item.className) {
                  <option [value]="item.className">Class {{ item.className }}</option>
                }
              </select>
            </div>
          </div>

          <div class="select-import">
            <div><p>Subject</p></div>
            <div class="select-import-block">
              <select
                name="selectedSubject"
                [(ngModel)]="selectedSubject"
                (change)="onSubjectChange()"
                [disabled]="!selectedClass"
              >
                <option value="" selected disabled>select subject</option>
                @for (sub of availableSubjects; track sub.subject) {
                  <option [value]="sub.subject">{{ sub.subject }}</option>
                }
              </select>
            </div>
          </div>

          <div class="select-import">
            <div><p>Chapter</p></div>
            <div class="select-import-block">
              <select
                name="selectedChapter"
                [(ngModel)]="selectedChapter"
                (change)="onChapterChange()"
                [disabled]="!selectedSubject"
              >
                <option value="" selected disabled>select chapter</option>
                @for (ch of availableChapters; track ch.chapterName) {
                  <option [value]="ch.chapterName">{{ ch.chapterName }}</option>
                }
              </select>
            </div>
          </div>

          <div class="select-import">
            <div><p>Year</p></div>
            <div class="select-import-block">
              <select>
                <option value="" selected>year</option>
                <option value="">2025</option>
                <option value="">2025</option>
                <option value="">2025</option>
                <option value="">2025</option>
                <option value="">2025</option>
                <option value="">2025</option>
                <option value="">2025</option>
              </select>
            </div>
          </div>
        </div>
        <div class="btn btn-upload" (click)="onUpload()">Upload</div>
      }
    </div>
  </div>
}
@else {
  <div class="block">
    <div>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Basic Setting </mat-panel-title>
        </mat-expansion-panel-header>
          <div class="basic">
            <label class="basic-lable">Condition</label>
            <div class="basic-row-1">
              <div >
                <span class="basic-lable">Answer Requried : </span>
                <mat-slide-toggle name="isSchedule" ></mat-slide-toggle>
              </div>
              <div class="basic-row-1-inner" >
                <span class="basic-lable">Point for this question : </span>
                <input type="number" name="" id="">
              </div>
              <div class="basic-row-1-inner">
                <span class="basic-lable">Disply Points : </span>
                <mat-slide-toggle name="isSchedule" ></mat-slide-toggle>
              </div>
            </div>
            <hr>
            <div class="basic-row-2">
              <div>
                <span class="basic-lable"> Time Limit :</span>
                <input type="time" name="" id="">
              </div>
              <div class="basic-row-2-inner">
                <span class="basic-lable">Hide Quiz Time : </span>
                <mat-slide-toggle name="isSchedule" ></mat-slide-toggle>
              </div>
            </div>
            <hr>
            <div>
              <label class="basic-lable">Feedback Mode</label>
              <br>
              <select name="" id="" class="basic-select">
                <option value="" selected>Default</option>
                <option value="">Advance </option>
              </select>
            </div>
            <hr>
            <div class="basic-number">
              <label class="basic-lable">Passing Grade</label>
              <input type="number">
            </div>
            <hr>
            <div class="basic-number">
              <label class="basic-lable">Maximum Question Allowed to Answer</label>
              <input type="number">
            </div>
            <hr>
            <div class="basic-btn">
              <button type="button" class="btn btn-outline-dark">Cancle</button>
              <button type="button" class="btn btn-danger">ok</button>
            </div>
          </div>
       
      </mat-expansion-panel>
    </div>
    <br>
     <div>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Advance Setting </mat-panel-title>
        </mat-expansion-panel-header>
        
         <div class="advance">
          <div class="advance-row-1">
            <span class="basic-lable">Quiz Auto Start : </span>
            <mat-slide-toggle name="isSchedule" ></mat-slide-toggle>
          </div>
          <hr>
          <div>
            <label class="basic-lable"> Question Layout</label>
            <div>
              <select class="basic-select"> 
                <option value="">Single Question</option>
                <option value="">Multiple Question</option>
              </select>
               <select class="basic-select"> 
                <option value="">Random Question</option>
                <option value="">sequence Question</option>
              </select>
            </div>
            <hr>
            <div>
              <span class="basic-lable">Hide Question Number  : </span>
              <mat-slide-toggle name="isSchedule" ></mat-slide-toggle>
            </div>
            <hr>
            <div class="advance-row-4">

              <div class="advance-row-4-data">
                <label class="basic-lable"> Set Charater Limit for short Answer</label>
                <select name="" id="" class="basic-select">
                  <option value="">50</option>
                  <option value="">100</option>
                  <option value="">150</option>
                  <option value="">200</option>
                </select>
              </div>
              <div class="advance-row-4-data">
                <label class="basic-lable"> Set Charater Limit for Open-Ended/Eassy Answer</label>
                <select name="" id="" class="basic-select">
                  <option value="">50</option>
                  <option value="">100</option>
                  <option value="">150</option>
                  <option value="">200</option>
                </select>
              </div>
            </div>
            <hr>
            <div class="basic-btn">
              <button type="button" class="btn btn-outline-dark">Cancle</button>
              <button type="button" class="btn btn-danger">ok</button>
            </div>
          </div>
        </div>
        
      </mat-expansion-panel>
    </div>

    <div class="setting-btn-inner">
      <button type="button" class="btn btn-outline-dark"> Cancle </button>
      <button type="button" class="btn btn-danger"> Save </button>

    </div>
    
  </div>
}
</div>
